<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="boardList" resultType="boardDTO">
		SELECT board_title, board_date, board_no, mname as name, commentcount
		FROM boardview
	</select>

	<insert id="write" parameterType="boardDTO">
		INSERT INTO board (board_title, board_content, mno)
		VALUES(#{board_title }, #{board_content }
						, (SELECT mno FROM member WHERE mid=#{name }))
	</insert>
	
	<select id="detail" parameterType="boardDTO" resultType="boardDTO">
		SELECT board_no, board_title, board_content, board_date, mid, mname as name, commentcount
		FROM boardview
		WHERE board_no=#{board_no }
		<if test="mid != null">
		 AND mno=(SELECT mno FROM member WHERE mid=#{mid })
		</if>
	</select>
	
	<delete id="delete" parameterType="boardDTO">
		DELETE FROM board 
		WHERE board_no=#{board_no } AND mno=(SELECT mno FROM member WHERE mid=#{mid })
	</delete>
	
	<update id="update" parameterType="boardDTO">
		UPDATE board 
		SET board_title=#{board_title }, board_content=#{board_content } 
		WHERE board_no=#{board_no } AND mno=(SELECT mno FROM member WHERE mid=#{mid })
	</update>	

	<insert id="commentInsert" parameterType="commentDTO">
		INSERT INTO comment (c_comment, board_no, mno)
		VALUES(#{c_comment }, #{board_no }, (SELECT mno FROM member WHERE mid=#{mid }) )
	</insert>
	
	<select id="commentList" parameterType="boardDTO" resultType="commentDTO">
		SELECT * FROM commentview WHERE board_no=#{board_no }
	</select>

</mapper>