<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.poseidon.dto.LoginDTO" alias="loginDTO"/>
		<typeAlias type="com.poseidon.dto.BoardDTO" alias="boardDTO"/>
		<typeAlias type="com.poseidon.dto.CommentDTO" alias="commentDTO"/>
	</typeAliases>

</configuration>
